@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/base/mixin';
@import '../sass/base/typography';

@import '../sass/layout/container';
@import '../sass/layout/header';

@import '../sass/components/button';
@import '../sass/components/input';
@import '../sass/components/info';

.form-wrapper {
  max-width: 360px;
  margin: 0 auto;
  padding: 220px 10px 10px 10px;
  text-align: center;

  .form-title {
    margin-bottom: 20px;
    display: inline-block;
    width: 49%;
    padding: 5px;
    border: 1px solid #65A8E9;
    cursor: pointer;
  }

  .form-title.is-active {
    background: #65A8E9;
  }

  .or {
    position: relative;
    width: 100%;
    height: 1px;
    background: #65A8E9;
    margin: 20px 0px;
  }
}

.reset {
  cursor: pointer;
  padding-top: 10px;

  &:hover {
    text-decoration: underline;
  }
}


