@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/base/mixin';
@import '../sass/base/typography';

@import '../sass/layout/container';
@import '../sass/layout/header';

@import '../sass/components/button';
@import '../sass/components/input';
@import '../sass/components/info';


.map {
  padding-top: 120px;

  .map__header {
    text-align: center;
    margin-bottom: 10px;
  }

  .map__inner {
    border-radius: 3px;
    border: 5px solid rgba(0,0,0,0.1);

    #mapbox {
      border-radius: 3px;
      height: 400px;
    }
  }

  margin-bottom: 20px;
}

.nav {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}

.footer {
  text-align: center;
  padding-bottom: 20px;

  .logout {
    font-size: 14px;
    color: #022342;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5px;
  }
}
