@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/base/mixin';
@import '../sass/base/typography';

@import '../sass/layout/container';
@import '../sass/layout/header';

@import '../sass/components/button';
@import '../sass/components/input';
@import '../sass/components/info';
@import '../sass/components/pac';
@import '../sass/components/skill';
@import '../sass/components/auto-sug';

.profile {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;

  .profile__header {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

  .email {
    margin-bottom: 40px;

    .val {
      cursor: pointer;
    }

    .edit {
      font-size: 14px;
      text-decoration: underline;
      padding-left: 5px;
      cursor: pointer;
    }
  }

  .form {
    max-width: 300px;
    margin: 0 auto 40px;
    text-align: left;

    label {
      font-size: 12px;
      padding-left: 10px;
      margin-bottom: 2px;
      display: inline-block;
    }

    .input {
      margin-bottom: 5px;

      input {
        height: 30px;
      }
    }

    .btn-wrapper {
      padding-top: 10px;
    }
  }

  .user-info {
    font-size: 0;
    margin-bottom: 40px;

    .left {
      font-size: 16px;
      display: inline-block;
      width: 30%;
      margin-bottom: 10px;
      border: 1px solid;
      padding: 5px;
      border-radius: 20px;
      vertical-align: middle;
    }

    .right {
      vertical-align: middle;
      font-size: 16px;
      display: inline-block;
      width: 70%;
      margin-bottom: 10px;
      padding: 5px 5px 5px 20px;
      text-align: left;
    }
  }

  .btn--linkedin {
    margin-bottom: 20px;
  }

  .user-type {
    margin-bottom: 10px;

    .logout {
      font-size: 14px;
      text-decoration: underline;
      color: #022342;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .switch-type {
    background: #fff;
    color: #444;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
  }
}

.nav {
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
}
