@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/base/mixin';
@import '../sass/base/typography';

@import '../sass/layout/container';
@import '../sass/components/button';
@import '../sass/components/input';
@import '../sass/components/info';

.info-wrapper {
  padding-top: 100px;

  .info {
    font-size: 16px;
    font-weight: lighter;
  }
}

.form {
  max-width: 400px;
  padding: 0px 10px;
  margin: 0 auto;
  text-align: center;

  .btn {
    margin-bottom: 20px;
  }
}