@import '../sass/base/reset';
@import '../sass/base/variable';
@import '../sass/base/mixin';
@import '../sass/base/typography';

@import '../sass/layout/container';

@import '../sass/components/info';

.info-wrapper {
  padding-top: 100px;

  .info {
    font-size: 18px;
    font-weight: lighter;
  }
}