/**
 * auto-suggest css
 * contains: __search, __list, __list-item
 * state: is-scrolled
 */
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.auto-suggest {
  position: relative;
  width: 100%;

  color: #fff;
  text-align: left;

  margin-bottom: 20px;
}

.auto-suggest__search {
  width: 100%;
}

.auto-suggest__search input {
  display: inline;
  max-width: 100%;
  width: 100%;

  outline: transparent;
  background: transparent;
  border: 0;
  border-bottom: 2px solid lighten(#fff, 10%);
  color: inherit;

  font: {
    size: 24px;
    weight: 400;
  }
  font-family: inherit;

  @include placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.auto-suggest__list {
  position: absolute;
  width: 100%;

  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgb(76, 144, 214);
  box-shadow: 0px 2px 5px #366CA2;
  z-index: 9000;

  font-size: 18px;

  // hide the vertical scroll
  // should be used a  extend
  &::-webkit-scrollbar { width: 0 !important }
  &{ -ms-overflow-style: none; }
  &{ overflow: -moz-scrollbars-none; }
}

.auto-suggest__list-item {
  cursor: pointer;

  .name {
    padding: 0px 3px 3px;

    &:hover {
      background: rgb(40, 117, 193);
    }
  }

  /**
   * isScrolled on keynavigation
  */
  .name.is-scrolled {
    background: rgb(119, 176, 234);
  }
}

@media (max-width: 640px) {
  .auto-suggest__search input {
    font-size: 24px;
  }

  .auto-suggest__list {
    font-size: 18px;
  }
}