.btn {
  display: inline-block;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn--pri {
  border: 1px solid #fff;
}

.btn--fb {
  background:  #228CF1;
  border-color: #4A9EEF;
}

.btn--linkedin {
  background:  #0E59A0;
  border-color: #4A9EEF;
}