.info {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  @include vendor-prefix(transition, all 0.2s ease-in)
}

.info--danger {
  border: 1px solid #F1CCCC;
}

.info--success {
  border: 1px solid #ADF3C0;
}

.info.is-active {
  padding: 10px;
  margin-bottom: 20px;
  max-height: 1000px;
  opacity: 1;
}