.input {
  width: 100%;
  margin-bottom: 20px;
}

.input input {
  transition: all 0.1s linear;
  text-align: center;
  font-size: 12px;
  color: #65A8E9;
  letter-spacing: 1px;
  padding-left: 10px;
  outline: none;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #fff;
  font-weight: 300;
}

.input input:focus {
  border: 3px solid #78B3EF;
}

.input.is-empty input {
  border: 3px solid #F3B5B6;
}

.input .invalid {
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: 5px;
}
