.skills {
    li {
        font-size: 14px;
        border-radius: 3px;
        color: #236CB3;
        padding: 3px 5px;
        margin-bottom: 3px;
        background: #D2E5F9;
        display: inline-block;
    }

    .remove {
        font-size: 13px;
        display: inline-block;
        margin-left: 3px;
        color: #fff;
        background: #236CB3;
        border-radius: 20px;
        padding: 0px 5px 0px 4px;
        cursor: pointer;
    }
}

.skills--edit {
    margin-bottom: 20px;
    padding: 0px 10px;
    li {
        font-size: 13px;
    }
}


