.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 48px;
}

.header--landing {
  font-size: 80px;
  font-weight: 300;
  top: 80px;
}


@media(max-width: 600px) {
  .header--landing {
     font-size: 40px;
  }
}