<div class="email">Hi, <span class="val">{{email}}</span>
{{#unless editMode}}
  <span class="edit">Edit</span>
{{/unless}}
</div>

{{#if editMode}}
<div class="form">
  <label>First Name</label>
  <div class="input" field-name="firstName">
    <input type="text" value="{{firstName}}" placeholder="Enter first name">
  </div>
  <label>Last Name</label>
  <div class="input" field-name="lastName">
    <input type="text"  value="{{lastName}}" placeholder="Enter last name">
  </div>
  <label>Address</label>
  <div class="input address" field-name="address">
    <input type="text"  value="{{address}}" placeholder="Enter address">
  </div>

  {{#if linkedInDetails}}
    <label>Industry</label>
    <div class="input" field-name="industry">
      <input type="text" value="{{linkedInDetails.industry}}" placeholder="Enter industry">
    </div>
    <label>Headline</label>
    <div class="input" field-name="headline">
      <input type="text"  value="{{linkedInDetails.headline}}" placeholder="Enter headline">
    </div>
    <label>Skills</label>
    <ul class="skills skills--edit">
      {{#each linkedInDetails.skills}}
        <li>
          <span class="name">{{this.name}}</span>
          <span class="remove">&times;</span>
        </li>
      {{/each}}
    </ul>
    <div class="add-skills"></div>
  {{/if}}
  <div class="btn-wrapper">
    <div class="btn btn--pri">Save</div>
  </div>
</div>
{{else}}
  <div class="user-info">
    <div class="left">First Name</div>
    <div class="right">{{firstName}}</div>
    <div class="left">Last Name </div>
    <div class="right">{{lastName}}</div>
    <div class="left">Address</div>
    <div class="right">{{address}}</div>
    <div class="left">Latitude, Longitude</div>
    <div class="right">
      {{latitude}}, {{longitude}}
      <a class="link" href="http://maps.google.com?q={{latitude}},{{longitude}}" target="blank">Google Map</a>
    </div>

    {{#if linkedInDetails}}
      <div class="left">Industry</div>
      <div class="right">{{linkedInDetails.industry}} </div>
      <div class="left">Headline</div>
      <div class="right">{{linkedInDetails.headline}} </div>
      <div class="left">Skills</div>
      <div class="right">
        <ul class="skills">
          {{#each linkedInDetails.skills}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if isStudent}}
  <a class="link nav" href="/Map">Map</a>
  <div class="user-type">You are signed up as a student. <span class="logout">Logout</a></span></div>
  <div class="switch-type">Change to teacher</div>
{{else}}
{{#unless linkedInDetails}}
    <div class="btn btn--linkedin">
      <a href="/connect/linkedin">Connect linkedin account</a>
    </div>
  {{/unless}}
  <a class="link nav" href="/map">Map</a>
  <div class="user-type">You are signed up as a teacher. <span class="logout">Logout</a></span></div>
{{/if}}
