* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.link {
  font-weight: 400;
  color: #022342;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.link:hover {
  color: #022342;
  text-decoration: underline;
}

.is-hidden {
  display: none;
}