@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$lato: 'Lato', sans-serif;

body {
  font-family: $lato;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  @include vendor-prefix('background',  linear-gradient(90deg, #1877D2, #80B8F1))
}

p {
  letter-spacing: 1px;
}